#parking_table .table-column {
    -fx-alignment: CENTER;
}

#bike_table .table-column {
    -fx-alignment: CENTER;
}

#payment_table .table-column {
    -fx-alignment: CENTER;
}

#rented_table .table-column {
    -fx-alignment: CENTER;
}